*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    color: white;
    font-family: "Questrial", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form input, form button{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
}

form button{
    color: gold;
    background-color: white;
    cursor: pointer;
    transition: all 0.3 case;
    margin-left: 0.5rem;
}

form button:hover{
    color: white;
    background-color: gold;
}

.fa-plus-circle{
    margin-top: 0.1rem;
    margin-left: -8px;
    font-size: 1.7rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-list{
    min-width: 30vh;
    list-style: none;
}

.to-do{
    margin: 0.5rem;
    padding-left: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.to-do li{
    flex: 1;
}

.excluir-botao, .completar-botao{
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.completar-botao{
    background-color: gold;
}

.excluir-botao{
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background-color: lightgray;
}

.to-do-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check-circle{
    pointer-events: none;
}

.finalizada{
    text-decoration: line-through;
    opacity: 0.5;
}

.slide{
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select{
    color: gold;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    padding: 0.5rem;
}

.select::after{
    content: "\2BC6";
    position: absolute;
    background-color: gold;
    top: -10px;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background-color: white;
    color: gold;
}